<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.yedam.dubu.equipment.mapper.EquipmentMapper">

	<!-- ↓↓↓ 설비 라인 페이지 -->
	<!-- 라인 관리 - 전체 조회 -->
	<select id="selectAllEquipmentLineList" resultType="EquipmentVO">
		SELECT * FROM EQM_LINE ORDER BY line_cd
	</select>
	
	<!-- 부여될 라인 코드를 미리 조회 (등록과 관련)  -  라인명은 LINE0002, LINE0003  이런식으로 문자열이다. -->
	<select id="getLineCode" resultType="String">
		SELECT
			NVL2(MAX(line_cd),
			'LINE'||LPAD(REPLACE(MAX(line_cd), 'LINE') + 1, 4, '0'), 'LINE0001')
		FROM eqm_line
	</select>
	
	
	<!-- 추가 -->
	<insert id="insertEquipmentLine" parameterType="equipmentVO">
		INSERT INTO eqm_line
						(
							line_cd,
							line_nm,
							eqm_psch,
							uph_cnt,
							use_yn
						)
				VALUES (
							#{lineCd},
							#{lineNm},
							#{eqmPsch},
							#{uphCnt},
							#{useYn}
						)			
	</insert>
	

	<!-- 수정 -->
	<update id="updateEquipmentLine" parameterType="equipmentVO">
		UPDATE eqm_line
		SET
			line_nm = #{lineNm},
			eqm_psch = #{eqmPsch},
			uph_cnt = #{uphCnt},
			use_yn = #{useYn}
		WHERE line_cd = #{lineCd}
	</update>
	
	
	<!-- 삭제 -->
	<delete id="deleteEquipmentLine" parameterType="equipmentVO">
		DELETE FROM eqm_line
			WHERE line_cd = #{lineCd}
	</delete>
	
	
	<!-- ↑↑↑ 설비 라인 페이지 -->
	<!-- ↓↓↓ 설비 관리 페이지 -->
	
	
	<!-- 공정 관리 테이블 조회 -->
	<select id="selectAllProcessList" resultType="EquipmentVO">
		SELECT * FROM PRCS ORDER BY prcs_cd
	</select>
	
	<!-- 공통 코드 테이블 조회 -->
<!-- 	<select id="selectAllCommonDataList" resultType="EquipmentVO">
		공통코드 중 E로 시작하는 코드만 조회 (그게 설비구분 공통코드임)
		SELECT * FROM ccds WHERE UPPER(ccd) LIKE 'E%' ORDER BY ccd
	</select> -->
	

	<!-- 테스트 -->
	<!-- 부여될 라인 코드를 미리 조회 (등록과 관련)  -  라인명은 LINE0002, LINE0003  이런식으로 문자열이다. -->
	<select id="getEqCode" resultType="String">
		SELECT
		    NVL2(MAX(eqm_cd),
		    'EQM'||LPAD(REPLACE(MAX(eqm_cd), 'EQM') + 1, 4, '0'), 'EQM0001')
		FROM eqm
	</select>
	

	<!-- 설비 목록 출력 -->
	<select id="selectAllEquipmentList" resultType="EquipmentVO">
		SELECT
			ROWNUM AS "idx",
			eqm_nm,
			eqm_fg,
			eqm_cd,
			prcs_cd,
			prcs_nm,
			eqm_yn,
			min_temp,
			max_temp,
			chck_perd,
			line_cd,
			eqm_ist_dt
		FROM eqm
		ORDER BY eqm_cd
	</select>
	
	<!-- 설비 등록하기 -->
	<insert id="insertEquipment" parameterType="equipmentVO">
		INSERT INTO EQM 
		                (
		                 eqm_cd,
		                 eqm_fg,
		                 line_cd,
		                 prcs_cd,
		                 prcs_nm,
		                 eqm_nm,
		                 eqm_yn,
		                 chck_perd,
		                 min_temp,
		                 max_temp,
		                 eqm_ist_dt
		                )
		        VALUES (
		        		#{eqmCd},
		        		#{eqmFg},
		                #{lineCd},
		                #{prcsCd},
		                #{prcsNm},
		                #{eqmNm},
		                #{eqmYn},
		                #{chckPerd},
		                #{minTemp},
		                #{maxTemp},
		                #{eqmIstDt}
		                )
	</insert>
	
	<!-- 설비 수정하기 -->
	<update id="updateEquipment" parameterType="equipmentVO">
		UPDATE eqm
		SET
			eqm_nm = #{eqmNm},
			eqm_fg = #{eqmFg},
            line_cd = #{lineCd},
            prcs_cd = #{prcsCd},
            prcs_nm = #{prcsNm},
            eqm_yn = #{eqmYn},
            chck_perd = #{chckPerd},
            min_temp = #{minTemp},
            max_temp = #{maxTemp},
            eqm_ist_dt = #{eqmIstDt}
		WHERE eqm_cd = #{eqmCd}
	</update>
	
	<!-- 설비 삭제하기 -->
	<delete id="deleteEquipment" parameterType="String">
		DELETE FROM eqm WHERE eqm_cd = #{eqmCd}
	</delete>
	
	<!-- 설비 검색하기 -->
	<select id="selectSpecificEquipmentList" resultType="EquipmentVO">
<!-- 		SELECT *
		FROM eqm
		WHERE eqm_cd = #{keyword}
		WHERE type = #{type}
		<if test="search != ' '">
		AND 컬럼 LIKE '%' || #{keyword} || '%'
		</if> -->
  	  SELECT
		ROWNUM AS "idx",
		eqm_fg,
		eqm_nm,
		eqm_cd,
		prcs_cd,
		prcs_nm,
		eqm_yn,
		min_temp,
		max_temp,
		chck_perd,
		line_cd,
		eqm_ist_dt
	  FROM eqm
	  WHERE
	  <choose>
	    <when test="searchType == 'eqmCd'">
	      eqm_cd LIKE '%' || #{keyword} || '%'
	    </when>
	    <when test="searchType == 'eqmNm'">
	      eqm_nm LIKE '%' || #{keyword} || '%'
	    </when>
	    <when test="searchType == 'prcsNm'">
	      prcs_nm LIKE '%' || #{keyword} || '%'
	    </when>
	  </choose>
	</select>
	
	
	<!-- ↑↑↑ 설비 관리 페이지 -->
	<!-- ↓↓↓ 설비 점검 내역 페이지 -->
	
	
	<!-- 모달 내 설비 목록 출력 -->
	<select id="selectAllEquipmentListInModal" resultType="EquipmentVO">
		SELECT
			ROWNUM AS "idx",
			eqm_nm,
			eqm_cd,
			prcs_cd,
			prcs_nm,
			eqm_yn
		FROM eqm
		ORDER BY eqm_cd
	</select>
	
	<!-- 모달 내 설비 검색 -->
	<select id="selectSpecificEquipmentListInModal" resultType="EquipmentVO">
		SELECT
		    ROWNUM AS "idx",
		    eqm_nm,
		    eqm_cd,
		    prcs_cd,
		    prcs_nm,
		    eqm_yn
		FROM eqm
		WHERE eqm_nm LIKE '%' || #{keyword} || '%'
	</select>
	
	
	<!-- 모달 밖의, 아래 부분에 있는 점검 리스트 출력 -->
	<select id="selectAllCheckList" resultType="EquipmentVO">
		SELECT
			chck_cd,
			eqm_cd,
			eqm_nm,
			chck_dt,
			dispo_matter,
			dispo_ctnt,
			jdgmnt,
			chck_psch,
			chck_fg
		FROM eqm_chck
		ORDER BY chck_cd
	</select>
	
	<!-- 부여될 점검 코드를 미리 조회 (등록과 관련)  -  라인명은 CHCK0002, CHCK0003  이런식으로 문자열이다. -->
	<select id="getCheckCode" resultType="String">
		SELECT
			NVL2(MAX(chck_cd),
    		'CHCK'||LPAD(REPLACE(MAX(chck_cd), 'CHCK') + 1, 4, '0'), 'CHCK0001')
    	FROM eqm_chck
	</select>
	
	
	<!-- 설비 점검 등록하기 -->
	<insert id="insertCheckList" parameterType="equipmentVO">
		INSERT INTO eqm_chck 
		                (
						chck_cd,
						eqm_cd,
						eqm_nm,
						chck_dt,
						dispo_matter,
						jdgmnt,
						chck_psch,
						chck_fg,
						dispo_ctnt
		                )
		        VALUES (
		        		#{chckCd},
		                #{eqmCd},
		                #{eqmNm},
		                #{chckDt},
		                #{dispoMatter},
		                #{jdgmnt},
		                #{chckPsch},
		                #{chckFg},
		                #{dispoCtnt}
		                )
	</insert>
	
	<!-- 설비 점검 수정하기 -->
	<update id="updateCheckList" parameterType="equipmentVO">
		UPDATE eqm_chck
		SET
			chck_cd = #{chckCd},
			eqm_cd = #{eqmCd},
			eqm_nm = #{eqmNm},
			chck_dt = #{chckDt},
			dispo_matter = #{dispoMatter},
			jdgmnt = #{jdgmnt},
			chck_psch = #{chckPsch},
			chck_fg = #{chckFg},
			dispo_ctnt = #{dispoCtnt}
		WHERE chck_cd = #{chckCd}
	</update>
	
	<!-- 설비 점검 목록 삭제하기 -->
	<delete id="deleteCheckList" parameterType="String">
		DELETE FROM eqm_chck WHERE chck_cd = #{chckCd}
	</delete>
	
	
	<!-- 설비 점검 검색하기 (모달 아님) -->
	<select id="selectSpecificEqCheckList" resultType="EquipmentVO">
		SELECT e.prcs_cd, e.eqm_ist_dt, e.chck_perd, e.use_yn, e.prcs_nm, c.chck_cd, c.eqm_cd, c.eqm_nm, c.chck_fg, c.chck_dt, c.jdgmnt, c.dispo_matter, c.dispo_ctnt, c.chck_psch
		FROM eqm e
		INNER JOIN eqm_chck c
		ON e.eqm_cd = c.eqm_cd
		WHERE 1=1
		<if test="searchFrDt != null"><![CDATA[ AND c.chck_dt >= TO_DATE(#{searchFrDt})]]></if>
		<if test="searchToDt != null"><![CDATA[ AND c.chck_dt < TO_DATE(#{searchToDt}+2)]]></if>
		<if test="eqmNm != null"> AND e.eqm_nm LIKE '%'||#{keyword3}||'%'</if>
	</select>

	<!-- ↑↑↑ 설비 점검 내역 페이지 -->
	<!-- ↓↓↓ 비가동 관리 페이지 -->
	
	
	<!-- (모달 밖) 모든 비가동 관리 리스트 출력 -->
	<select id="selectAllEqIpoprList" resultType="EquipmentVO">
		SELECT nopr_cd, eqm_cd, eqm_nm, fr_dt, to_dt, eqm_yn  FROM eqm_opr ORDER BY nopr_cd
	</select>
	
	<!-- 부여될 비가동 코드를 미리 조회 (등록과 관련)  -  라인명은 NOPR0001, NOPR0002  이런식으로 문자열이다. -->
	<select id="getNoprCode" resultType="String">
		SELECT
		    NVL2(MAX(nopr_cd),
		    'NOPR'||LPAD(REPLACE(MAX(nopr_cd), 'NOPR') + 1, 4, '0'), 'NOPR0001')
		FROM eqm_opr
	</select>
	
	<!-- ↑↑↑ 비가동 관리 페이지 -->
</mapper>
