<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.dubu.material.mapper.MaterialMapper">

	<select id="getMaterialList" resultType="MaterialVO">
		SELECT r.RSC_CD, r.RSC_NM, r.VEND_CD, rs.AVAL_STC, r.SAF_STC, v.VEND_NM
		FROM RSC r JOIN RSC_STC rs
  		ON r.RSC_CD = rs.RSC_CD
  		JOIN VEND v
  		ON v.VEND_CD = r.VEND_CD
	</select>

</mapper>