<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.dubu.sales.mapper.SalesMapper">

	<!-- 주문서 전체조회 -->
	<select id="searchOrdr" resultType="SalesVO">
		SELECT * FROM ORDER_SHEET
		WHERE 1=1
		<if test="start != null"><![CDATA[and ORDER_DT >= #{start}]]></if>
		<if test="end != null"><![CDATA[and ORDER_DT <= #{end}]]></if>
		ORDER BY ORDER_NO
	</select>

	<!-- 조건별 주문서 조회 -->
	<select id="findOrdr" resultType="SalesVO">
		SELECT * FROM ORDER_SHEET
		<!-- WHERE ORDER_DT BETWEEN #{start} AND #{end} -->
		WHERE 1=1
		<if test="vendNm != null and vendNm != ''">and VEND_NM = #{vendNm}</if>
		<if test="prdtNm != null and prdtNm != ''">and PRDT_NM = #{prdtNm}</if>
		<if test="start != null"><![CDATA[and ORDER_DT >= #{start}]]></if>
		<if test="end != null"><![CDATA[and ORDER_DT <= #{end}]]></if>
		ORDER BY ORDER_NO
	</select>

	<!-- 거래처 목록 조회 모달창 -->
	<select id="comSearch" resultType="VendVO">
		SELECT VEND_CD, VEND_NM,
		BINZO, TELNO FROM VEND
	</select>

	<!-- 주문서 삭제 -->
	<delete id="deleteOrdr" parameterType="SalesVO">
		DELETE FROM ORDER_SHEET
		WHERE ORDER_NO = #{orderNo}
	</delete>

	<!-- 제품명 목록 조회 모달창 -->
	<select id="proSearch" resultType="SalesVO">
		SELECT EDCTS_CD, PRDT_NM FROM
		EDCTS
	</select>

	<!-- 주문번호 인덱스 가져오기 -->
	<select id="getordrNo" resultType="SalesVO">
		SELECT
		NVL(LPAD(MAX(SUBSTR(ORDER_NO, 4)+1),3,'0'), '001') AS "index"
		FROM
		ORDER_SHEET
	</select>

	<!-- 주문서 수정 및 등록 -->
	<update id="saveOrdr" parameterType="SalesVO">
		MERGE INTO ORDER_SHEET o
		USING DUAL ON (o.ORDER_NO = #{orderNo})
		WHEN MATCHED THEN
		UPDATE SET
		o.EDCTS_CD = #{edctsCd}, o.VEND_CD = #{vendCd}, o.VEND_NM = #{vendNm},
		o.ORDER_DT = #{orderDt}, o.PROG_APPE = #{progAppe}, o.PAPRD_DT =
		#{paprdDt}, o.PRDT_NM = #{prdtNm}, o.ORDER_CNT = #{orderCnt}
		WHEN NOT
		MATCHED THEN
		INSERT (o.ORDER_NO, o.EDCTS_CD, o.VEND_CD, o.VEND_NM,
		o.ORDER_DT,
		o.PROG_APPE, o.PAPRD_DT, o.PRDT_NM, o.ORDER_CNT)
		VALUES(#{orderNo},#{edctsCd},#{vendCd},#{vendNm},#{orderDt},'InProgress',#{paprdDt},#{prdtNm},#{orderCnt})
	</update>
	<!-- ////////////////////////////////////////////////////////////// -->
	<!-- saleslst.jsp -->
	<!-- 입고 목록 날짜 기준 조회(첫페이지) -->
	<select id="salesIstList" resultType="SalesIstVO">
		SELECT i.edcts_ist_no,
		i.edcts_ist_dt, i.edcts_ist_cnt, i.edcts_cd, i.edcts_lot_no, e.prdt_nm
		FROM edcts_ist i JOIN edcts e
		ON i.edcts_cd = e.edcts_cd
		WHERE
		i.edcts_ist_dt BETWEEN #{edctsIstDtStart} AND #{edctsIstDtEnd}
	</select>
	<!-- 입고 목록 조건별 조회 -->
	<select id="istOptionList" resultType="SalesIstVO">
		SELECT i.edcts_ist_no, i.edcts_ist_dt, i.edcts_ist_cnt, i.edcts_cd,
		i.edcts_lot_no, e.prdt_nm
		FROM edcts_ist i JOIN edcts e
		ON i.edcts_cd =
		e.edcts_cd
		<if test="edctsLotNo != null and edctsLotNo != ''">and EDCTS_LOT_NO = #{edctsLotNo}</if>
		<if test="edctsIstDtStart != null"><![CDATA[and EDCTS_IST_DT >= #{edctsIstDtStart}]]></if>
		<if test="edctsIstDtEnd != null"><![CDATA[and EDCTS_IST_DT <= #{edctsIstDtEnd}]]></if>
		ORDER BY edcts_ist_no
	</select>


</mapper>