#container {
    width: 98%;
    margin: 0 auto;
}

.col {
    width: 100%
}

/* .linelist {
    float: right;
    margin: 0 20px 20px 0;

} */

#pDate {
    display: inline-block;
}


.tui-datepicker {
    z-index: 99;
}

#upper-body {
    display: flex;
    justify-content: space-between;
}

.table table {
    width: 100%;
}
