.uploadResult {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.image {
	display: block;
	width: 100%;
}

.image-label {
	position: relative;
	bottom: 22px;
	left: 5px;
	color: white;
	text-shadow: 2px 2px 2px black;
}

.c_btn {
	color: #fff;
	font-size: 13px;
	background: #333;
	border: none;
	padding: 6px;
	border-radius: 4px
}

.c_btn:hover {
	background: #555;
}

.linelist {
	display: inline-block;
	margin-top: 0px;
}

#grid {
	width: 100%
}

label {
	width: 100px;
	float: left;
}



html {
	scroll-behavior: smooth;		/* 스크롤 부드럽게 */
}

/* 스크롤 */
.table {
	height: 250px;
	overflow: auto;
}

.table > table {
    width: 100%;
}

#searchBar {
	display: flex;
}


/*  */

#opN, #sTtn {
    margin: 0px 10px;
}


#lower-card-body {
	padding-top: 50px;
}

/* 검색 기능이 아닌, 전체 목록들에서 커서를 올렸을 때 */
.eachRow:hover, #list > .selectedRows:hover, .eachRowInModal:hover {
	background-color: rgb(233, 233, 233);
}