.c_btn {
	color: #fff;
	font-size: 13px;
	background: #333;
	border: none;
	padding: 6px;
	border-radius: 4px
}

.c_btn:hover {
	background: #555;
}

.linelist {
	display: inline-block;
	margin-top: 0px;
}

label {
	width: 90px;
	float: left;
}

.table table {
    width: 100%;
}

.col-12 {
	display: flex;
}

#SEqmNm, #STrDt, #SToDt, #modalBtn {
    margin: 0px 10px;
}

/* 검색 기능으로 찾은 목록들 위에다가 커서 올렸을 때 */
.eachRow:hover, .eachRowInModal:hover, #list > .selectedRows:hover {
	background-color: rgb(233, 233, 233);
}