<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.dubu.production.mapper.ProductionMapper">

	<!-- 조회 -->
	<select id="selectPrcList" resultType="ProductionVO">
		SELECT DISTINCT(PRCS_DIV) FROM PRCS 
	</select>
	<!-- 그리드 -->
	<select id="selectPrcsGrid" resultType="ProductionVO">
		SELECT PRCS_DIV,
			   PRCS_CD,
			   PRCS_NM,
			   PRCS_CTNT
		FROM  PRCS
		WHERE PRCS_DIV=#{prcsDiv}
	</select>
	<!-- 삭제 -->
	<delete id="deletePrcsGrid" parameterType="String">
		DELETE FROM PRCS
		WHERE PRCS_CD=#{prcsCd}
	</delete>
	<!-- 등록 -->
	<insert id="insertPrcsGrid" parameterType="ProductionVO">
		INSERT INTO PRCS(PRCS_DIV,
						 PRCS_CD,
						 PRCS_NM,
						 PRCS_CTNT)
				VALUES  (#{prcsDiv},
						 #{prcsCd},
						 #{prcsNm},
						 #{prcsCtnt})
	</insert>
	<!-- 등록하고자 하는 코드 -->
	<select id="inesrtPrcsCode" resultType="ProductionVO">
		SELECT PRCS_DIV FROM PRCS WHERE PRCS_DIV=#{prcsDiv}
	</select>
	<!-- 수정 -->
	<update id="updatePrcsGrid" parameterType="ProductionVO">
		UPDATE PRCS INTO (PRCS_DIV
						  <if test="prcsCd != null and !prcsCd.equals('')">
						  ,PRCS_CD
						  </if>
						  <if test="prcsNm != null and !prcsNm.equals('')">
						  ,PRCS_NM
						  </if>
						  <if test="prcsCtnt != null and !prcsCtnt.equals('')">
						  ,PRCS_CTNT
						  </if>)
					<set>
						(#{prcsDiv}
						<if test="prcsCd != null and !prcsCd.equals('')">
						,#{prcsCd}
						</if>
						<if test="prcsNm != null and !prcsNm.equals('')">
						,#{prcsNm}
						</if>
						<if test="prcsCtnt != null and !prcsCtnt.equals('')">
						,#{prcsCtnt}
						</if>
						)
					</set>
	</update>
	<!-- 주문서 조회 -->
	<select id="OrderList" resultType="ProductionVO">
		SELECT ORDER_NO,
			   VEND_NM,
			   PRDT_NM
		FROM ORDER_SHEET	
	</select>
</mapper>