<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.dubu.production.mapper.ProductionMapper">

	<!-- 조회 -->
	<select id="selectPrcList" resultType="ProductionVO">
		SELECT DISTINCT(PRCS_DIV) FROM PRCS 
	</select>
	<!-- 그리드 -->
	<select id="selectPrcsGrid" resultType="ProductionVO">
		SELECT PRCS_NO,
			   PRCS_DIV,
			   PRCS_CD,
			   PRCS_NM,
			   PRCS_CTNT
		FROM  PRCS
		WHERE PRCS_DIV=#{prcsDiv}
	</select>
	<!-- 삭제 -->
	<delete id="deletePrcsGrid" parameterType="String">
		DELETE FROM PRCS
		WHERE PRCS_CD=#{prcsCd}
	</delete>
	<!-- 등록 -->
	<insert id="insertPrcsGrid" parameterType="ProductionVO">
		INSERT INTO PRCS(PRCS_NO,
						 PRCS_DIV,
						 PRCS_CD,
						 PRCS_NM,
						 PRCS_CTNT)
				VALUES  (PRCS_SEQ.NEXTVAL,
						 #{prcsDiv},
						 #{prcsCd},
						 #{prcsNm},
						 #{prcsCtnt})
	</insert>
	<!-- 등록하고자 하는 코드 -->
	<select id="inesrtPrcsCode" resultType="ProductionVO">
		SELECT #{PRCS_FG} || PRCS_SEQ.NEXTVAL AS PRCS_CD FROM DUAL
	</select>
	<!-- 수정 -->
	<update id="updatePrcsGrid" parameterType="ProductionVO">
		UPDATE PRCS 
					<set>
						PRCS_DIV = #{prcsDiv},
						<if test="prcsCd != null and !prcsCd.equals('')">
						PRCS_CD = #{prcsCd},
						</if>
						<if test="prcsNm != null and !prcsNm.equals('')">
						PRCS_NM = #{prcsNm},
						</if>
						<if test="prcsCtnt != null and !prcsCtnt.equals('')">
						PRCS_CTNT = #{prcsCtnt}
						</if>
					</set>
		WHERE PRCS_NO = #{prcsNo}
	</update>
	<!-- 주문서 조회 -->
	<select id="selectOrderList" resultType="ProductionVO">
		SELECT B.BOM_CD,
               O.ORDER_NO,
		       O.PAPRD_DT,
		       O.PRDT_NM,
		       O.ORDER_CNT,
		       O.PLAN_CD,
		       O.EDCTS_CD
		FROM  ORDER_SHEET O 
        INNER JOIN BOM B
        ON O.EDCTS_CD = B.EDCTS_CD
		WHERE O.PLAN_CD = 'N'
		ORDER BY O.PAPRD_DT
	</select>
	<!-- 주문서 디테일 조회 -->
	<select id="orderDetailGrid" resultType="ProductionVO">
		SELECT ORDER_NO, 
		       VEND_NM, 
		       PRDT_NM, 
		       ORDER_CNT 
		FROM  ORDER_SHEET O  
		WHERE ORDER_NO = #{orderNo}
	</select>
	<!-- 생산계획코드 업데이트, 인서트 -->
	<select id="planCode" resultType="String">
		SELECT 'IC' || INDICA_CODE_SEQ.NEXTVAL AS INDICA_CD FROM DUAL
	</select>
	<insert id="insertPlan" parameterType="ProductionVO">
		INSERT INTO INDICA (INDICA_CD, INDICA_DT)
		VALUES ('IC' || INDICA_CODE_SEQ.NEXTVAL,
			    sysdate)
	</insert>
	<update id="updatePlanCode" parameterType="ProductionVO">
		UPDATE ORDER_SHEET SET PLAN_CD = #{planCd}
        WHERE ORDER_NO = #{orderNo}
	</update>
	<!-- 생산계획 제품 조회 -->
	<select id="selectPlanEquip" resultType="ProductionVO">
		SELECT O.ORDER_NO,
		       O.PRDT_NM,
		       B.BOM_CD
		FROM ORDER_SHEET O
		INNER JOIN BOM B
		ON O.EDCTS_CD = B.EDCTS_CD
		WHERE ORDER_NO = #{orderNo}
	</select>
	<!-- 생산계획 사용가능자재 조회 -->
	<select id="selectPlanMaterial" resultType="ProductionVO">
	SELECT R.RSC_CD,
	       R.RSC_NM,
		   RS.AVAL_STC,
		   SUM(RB.OUST_CNT) AS OUST_CNT
	FROM ORDER_SHEET O
	INNER JOIN BOM B
	ON O.EDCTS_CD = B.EDCTS_CD
	INNER JOIN RS_BOM RB
	ON B.BOM_CD = RB.BOM_CD
	INNER JOIN RSC R 
	ON R.RSC_CD = RB.RSC_CD
	INNER JOIN RSC_STC RS
	ON R.RSC_CD = RS.RSC_CD
	WHERE B.BOM_CD = #{bomCd}
	GROUP BY R.RSC_CD, R.RSC_NM, RS.AVAL_STC
	</select>
	<!-- 생산계획 제품공정확인 -->
	<select id="planEquipCheck" resultType="ProductionVO">
		SELECT vp.eq_sq, vp.prcs_cd, p.prcs_nm
        FROM V_PRODBOM vp 
        JOIN BOM b
            ON vp.bom_cd = b.bom_cd
        JOIN prcs p
            ON vp.prcs_cd = p.prcs_cd
        WHERE prdt_nm = #{prdtNm}
	</select>
<!-- 	 생산계획 자재확인 
	<select id="planMaterialCheck" resultType="ProductionVO">
		SELECT B.RSC_CD,
	           B.PRCS_CD,
	           R.OUST_CNT,
	           P.PLAN_CD
	    FROM BOMR B
	    INNER JOIN RSC_OUST R
	    ON B.RSC_CD = R.RSC_CD
	    INNER JOIN PRCS_PROG P
	    ON B.PRCS_CD = P.PRCS_CD
        INNER JOIN RSC_LOT L
        ON B.RSC_CD = L.RSC_CD
	    WHERE L.PRC_LOT_CD = #{prcLotCd}
	</select -->
	
	<!-- 생산지시 계획 조회 -->
	<!-- <select id="selectIndicaOrder" resultType="ProductionVO">
		SELECT PD.PLAN_CD,
		       MAX(PD.PLAN_CNT),
		      (PD.PLAN_CNT-ID.INDICA_CNT) AS PLAN_NINDICA
		FROM  PLAN_DTL PD
		INNER JOIN INDICA I
		ON PD.PLAN_CD = I.PLAN_CD
		INNER JOIN INDICA_DTL ID
		ON I.INDICA_CD = ID.INDICA_CD
        WHERE PD.PLAN_CD IS NOT NULL
        GROUP BY PD.PLAN_CD, PD.PLAN_CNT-ID.INDICA_CNT
	</select> -->
	<!-- 생산지시 계획 디테일 조회 -->
	<!-- <select id="selectIndicaOrderDetail" resultType="ProductionVO">
		SELECT PD.PLAN_CD,
		       E.PRDT_NM,
		      (PD.PLAN_CNT-ID.INDICA_CNT) AS PLAN_NINDICA,
		       PD.LINE_CD
		FROM PLAN_DTL PD
		INNER JOIN INDICA I
		    ON PD.PLAN_CD = I.PLAN_CD
		INNER JOIN INDICA_DTL ID
		    ON I.INDICA_CD = ID.INDICA_CD
		INNER JOIN EDCTS E
		    ON PD.EDCTS_CD = E.EDCTS_CD
		WHERE PD.PLAN_CD = #{planCd}
		GROUP BY PD.PLAN_CD, E.PRDT_NM, PD.PLAN_CNT-ID.INDICA_CNT, PD.LINE_CD
	</select> -->
	<!-- 생산지시 헤더 insert -->
	<insert id="" parameterType="">
	</insert>
	<!-- 생산지시 디테일 insert -->
	<insert id="" parameterType="">
	</insert>
	<!-- 생산지시 진행공정관리 insert -->
	<insert id="" parameterType="">
	</insert>
</mapper>