/* ↓↓↓ 거래처명/제품명/주문일자 폼 */

/* form {
    width: 700px;
    margin: 0 auto;
} */


li label {
    width: 100px;
    float: left;
    font-size: 12px;
    font-weight: bold;
    color: black;
    line-height: 25px;
}


/* ↓↓↓ 추가/저장/삭제 버튼 */

#top-nav {
    display: flex;
    justify-content: space-between;

    padding-bottom: 10px;
    border-bottom: 2px solid #08095e;
}

#submitResetBtn input {
    color: white;
    border: none;
    background-color: lightslategray;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#submitResetBtn input:hover {
    color: white;
    border: none;
    background-color: blue;
    padding: 5px 10px;
    border-radius: 10px;
}

/* ↑↑↑ 추가/저장/삭제 버튼 */


form {
    border: 1px solid gray;
    padding: 15px;
    margin-bottom: 30px;
}

/* ↓↓↓ 리스트 출력해주는 곳의 테이블 */
.table table {
    width: 100%;
}